<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Bringing the best dining experience to your doorstep.">
	<meta name="theme-color" content="#00303F" />
	<title>restoerant | Fine good food, around you</title>
	 <!-- //? add icon -->
	 <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
	 <link rel="manifest" href="./app.webmanifest">
	 <link rel="icon" href="./favicon.png">
	 <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
</head>

<body>
	<main-content></main-content>
	<!-- @ HEADER -->
	<header class="app-bar">
		<div class="app-bar__menu">
			<button id="hamburgerButton"><i class="fa fa-bars"></i></button>
		</div>
		<div class="app-bar__brand">
			<div class="logo-holder logo-6">
				<a href="#">
					<h3>res<span>toerant</span></h3>
				</a>
			</div>
		</div>
		<nav id="navigationDrawer" class="app-bar__navigation">
			<ul>
				<li><a class="app-bar__link" href="#/home"><span class="fa fa-home"></span> Home</a></li>
				<li><a class="app-bar__link" href="#/favorite"><span class="fa fa-star"></span> Favorite</a></li>
				<li><a class="app-bar__link" href="https://www.linkedin.com/in/ogi-setiawan-82a176132/"><span class="fa fa-user"></span> About Us</a>
				</li>
			</ul>
		</nav>
	</header>
	<!-- @ HEADER -->

	<!-- @ HERO -->
	<div id="hero" class="hero" role="img" aria-label="banner section">
		<div class="hero__inner">
			<h1 class="hero__title">Fine good food, around you!</h1>
			<p class="hero__tagline">
				Bringing the best dining experience to your doorstep.
			</p>
		</div>
	</div>
	<!-- @ HERO -->

	<!-- @ CONTENT -->
	<main id="mainContent"></main>
	<!-- @ CONTENT -->

	<!-- @ FOOTER -->
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
		<path fill="#00303f" fill-opacity="1" d="M0,192L1440,64L1440,320L0,320Z"></path>
	</svg>
	<footer>
		<footer-app></footer-app>
	</footer>
	<!-- @ FOOTER -->
</body>

</html>